#box1{
  height:200px;
  width:200px;
  background-color:blue;
  margin:20px;
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
}

#box2{
  height:200px;
  width:200px;
  background-color:green;
  margin:20px;
}

h1{
   position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  font-size:30px;
  text-align:center;
}
h1 span{
  font-style:italic;
  font: weight 10px;
}